<%- include('templates/header.ejs'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h1> BOOK SEARCH </h1>
		<form action='/results' method='GET'>
			<input type='text' name='search' placeholder='search your book ISBN ...'>
			<button class='btn btn-info'>Search</button>
		</form>
	</div>
</div>

<%- include('templates/footer.ejs'); -%>